@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes emoFloat {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.emo-animate {
  animation: emoFloat 2.5s ease-in-out infinite;
}